@import url(//fonts.googleapis.com/css?family=Lato:700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300);

body {
	margin:0;
	font-family:'Lato', sans-serif;
	text-align:center;
	color: #999;
	font-size: 12px;
	background-image: url('sativa.png');
}

.container{
	width:400px;
	position: absolute;
	top:40%;
	left:33%;
	border: 1px solid #eee;
	padding:20px;
	background-color: #FCFCFC;
}


h1{
	color:#F71E5F;
	font-size: 32px;
	letter-spacing: 5px;
	font-weight: lighter;
	padding: 10px;
	background-color: #FCFCFC;
	font-family: 'Open Sans', sans-serif;
	margin-top: 120px;
	text-transform: uppercase;
}

.float{
	float:right;
}

.inline{
	display:inline;
}

.button{
	color:#F71E5F;
}

a:link, a:visited, a:active{
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px; 
	font-size: 12px;
	padding:5px;
	font-weight: bold;
	color: #eee;
	background-color:#F71E5F;
	-moz-transition:all ease-in-out 0.5s;
    -webkit-transition:all ease-in-out 0.5s;
    -o-transition:all ease-in-out 0.5s;
    transition:all ease-in-out 0.5s;
}
a:hover{
	text-decoration: underline;
	background-color: #eee;
	color:#F71E5F;
	-moz-transition:all ease-in-out 0.5s;
    -webkit-transition:all ease-in-out 0.5s;
    -o-transition:all ease-in-out 0.5s;
    transition:all ease-in-out 0.5s;
}

span{
	background-color:#99123B;
	padding: 3px;
	color: #fff;
}